<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登入页面</title>
		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
	</head>
	<body>
		<div id="benner">
			<div class="b_logo">
				<img src="../img/ecshop-logo.png" alt="" />
			</div>
			<div class="jm">
				<div class="ck">
				<input type="text" name="username" placeholder="用户名" id="" value="" />
				<input type="password" name="password" placeholder="密码"  id="" value="" />
				<input type="text" name="username" placeholder="验证码" id="" value="" />
				<input type="submit" class="btn" value="登入" />
				<div class="last">
					<input type="checkbox" name="" id="" value="" />
					<label for="remember">保存登录信息</label>
					<a href="" class="last1">忘记密码？</a>
					<a href="" class="last2">去店铺首页》》</a>
				</div>
				</div>
			</div>
		</div>
			<div class="logo">
				<img src="../img/shopex.png" alt="" />
			</div>
	</body>
</html>
