<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登入页面</title>
		<script type="text/javascript" src="../public/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
	</head>
	<body>
		<div id="benner">
			<div class="jm">
				<input type="text" name="" id="" value="" />
				<input type="password" name="" id="" value="" />
			</div>
		</div>
			<div class="logo">
				<img src="../img/shopex.png" alt="" />
			</div>
	</body>
</html>
