<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/shouye.css"/>
	</head>
	<body>
		<div id="top">
			<div class="top_left">
				<img src="images/logo.png"/>
			</div>
			<div class="top_right">
				<ul>
					<li><a href=""><img src="images/nav11.png" alt="" /><span>退出</span></a></li>
					<li><a href=""><img src="images/nav10.png" alt="" /><span>清除缓存</span></a></li>
					<li><a href=""><img src="images/nav9.png" alt="" /><span>关于ECSHOP</span></a></li>
					<li><a href=""><img src="images/nav8.png" alt="" /><span>帮助</span></a></li>
					<li><a href=""><img src="images/nav7.png" alt="" /><span>查看网店</span></a></li>
					<li><a href=""><img src="images/nav6.png" alt="" /><span>管理员留言</span></a></li>
					<li><a href=""><img src="images/nav5.png" alt="" /><span>个人设置</span></a></li>
					<li><a href=""><img src="images/nav4.png" alt="" /><span>刷新</span></a></li>
					<li><a href=""><img src="images/nav3.png" alt="" /><span>记事本</span></a></li>
					<li><a href=""><img src="images/nav2.png" alt="" /><span>开店向导</span></a></li>
					<li class="li_last"><a href="" ><img src="images/nav1.png" alt="" /><span>更多模版堂产品</span></a></li>
				</ul>				
			</div>
		</div>
		<div id="nav">
			<ul>
				<li><a href=""><img src="images/1.png"/><span>起始页</span></a></li>
				<li><a href=""><img src="images/2.png"/><span>设置导航栏</span></a></li>
				<li><a href=""><img src="images/3.png"/><span>商品管理</span ><span class="num">0</span></a></li>
				<li><a href=""><img src="images/4.png"/><span>订单管理</span><span class="num">0</span></a></li>
				<li><a href=""><img src="images/5.png"/><span>广告管理</span><span class="num">0</span></a></li>
				<li><a href=""><img src="images/6.png"/><span>用户评论</span><span class="num">0</span></a></li>
				<li><a href="">用户评论</a></li>
				<li><a href="">商品列表</a></li>
				<li><a href="">会员列表</a></li>
				<li><a href="">商店设置</a></li>
				<li><a href="">移动版</a></li>
				<li><a href="">服务市场</a></li>
				<li><a href="">商品回收站</a></li>
			</ul>
		</div>
	</body>
</html>
