<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="stylesheets/shouye.css"/>
		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<div id="top">
			<div class="top_left">
				<img src="images/logo.png"/>
			</div>
			<div class="top_right">
				<ul>
					<li><a href=""><img src="images/nav11.png" alt="" /><span>退出</span></a></li>
					<li><a href=""><img src="images/nav10.png" alt="" /><span>清除缓存</span></a></li>
					<li><a href=""><img src="images/nav9.png" alt="" /><span>关于ECSHOP</span></a></li>
					<li><a href=""><img src="images/nav8.png" alt="" /><span>帮助</span></a></li>
					<li><a href=""><img src="images/nav7.png" alt="" /><span>查看网店</span></a></li>
					<li><a href=""><img src="images/nav6.png" alt="" /><span>管理员留言</span></a></li>
					<li><a href=""><img src="images/nav5.png" alt="" /><span>个人设置</span></a></li>
					<li><a href=""><img src="images/nav4.png" alt="" /><span>刷新</span></a></li>
					<li><a href=""><img src="images/nav3.png" alt="" /><span>记事本</span></a></li>
					<li><a href=""><img src="images/nav2.png" alt="" /><span>开店向导</span></a></li>
					<li class="li_last"><a href="" ><img src="images/nav1.png" alt="" /><span>更多模版堂产品</span></a></li>
				</ul>				
			</div>
		</div>
		<div id="nav">
			<ul>
				<li><a href=""><img src="images/1.png"/><span>起始页</span></a></li>
				<li><a href=""><img src="images/2.png"/><span>设置导航栏</span></a></li>
				<li><a href=""><img src="images/3.png"/><span>商品管理</span ><span class="num">0</span></a></li>
				<li><a href=""><img src="images/4.png"/><span>订单管理</span><span class="num">0</span></a></li>
				<li><a href=""><img src="images/5.png"/><span>广告管理</span><span class="num">0</span></a></li>
				<li><a href=""><img src="images/6.png"/><span>用户评论</span><span class="num">0</span></a></li>
				<li><a href="">用户评论</a></li>
				<li><a href="">商品列表</a></li>
				<li><a href="">会员列表</a></li>
				<li><a href="">商店设置</a></li>
				<li><a href="">移动版</a></li>
				<li><a href="">服务市场</a></li>
				<li><a href="">商品回收站</a></li>
			</ul>
		</div>
		<div id="dhcd">
			<div class="dhcd">
				<p><span>导航菜单</span></p>
			</div>
			<div id="menu_list">
				<ul>
					<li class="lis co1">
						<p>商品管理</p>
						<ul id="uls">
							<li class="lis_mach"><a  href="javascript:void(0)">商品列表</a><iframe name="mainContent" src="http://localhost:8080/splb" width="1130px" height="500"></iframe></li>
							<li class="lis_mach"><a  href="javascript:void(0)">添加新商品</a><iframe name="mainContent" src="http://localhost:8080/sptj" width="1130px" height="500"></iframe></li>
							<li class="lis_mach"><a href="">商品分类</a></li>
							<li class="lis_mach"><a href="">用户评论</a></li>
							<li class="lis_mach"><a href="">商品品牌</a></li>
							<li class="lis_mach"><a href="">商品类型</a></li>
							<li class="lis_mach"><a href="">商品回收站</a></li>
							<li class="lis_mach"><a href="">图片处理</a></li>
							<li class="lis_mach"><a href="">图片上传</a></li>
							<li class="lis_mach"><a href="">图片导出</a></li>
							<li class="lis_mach"><a href="">商品批量上传</a></li>
							<li class="lis_mach"><a href="">商品批量导出</a></li>
							<li class="lis_mach"><a href="">商品批量处理</a></li>
							<li class="lis_mach"><a href="">商品批量修改</a></li>
							<li class="lis_mach"><a href="">标签管理</a></li>
							<li class="lis_mach"><a href="">虚拟商品列表</a></li>
							<li class="lis_mach"><a href="">添加虚拟商品</a></li>
						</ul>
					</li>
					<li class="lis co2">促销管理</li>
					<li class="lis co3">订单管理</li>
					<li class="lis co4">广告管理</li>
					<li class="lis co5">报表统计</li>
					<li class="lis co6">文章管理</li>
					<li class="lis co7">会员管理</li>
					<li class="lis co8">权限管理</li>
					<li class="lis co9">系统设置</li>
					<li class="lis co10">模版管理</li>
					<li class="lis co11">数据库管理</li>
					<li class="lis co12">短信管理</li>
					<li class="lis co13">推荐管理</li>
					<li class="lis co14">邮件群发管理</li>
					<li class="lis co15">移动版管理</li>
					<li class="lis co16">模版堂知识库</li>
				</ul>
			</div>
			
		</div>
		<!--<div class="wblj">
				<iframe name="mainContent" src="https://www.baidu.com" width="1130px" height="500"></iframe>
			</div>-->
	</body>
	<script>
		$(".co1 p").click(function(){
			if($("#uls").css("display")=="block"){
				 $("#uls").hide()
			}else{
				$("#uls").show()
			}
		})
		$(".lis_mach a").click(function(){
			$(this).siblings().show().parent().siblings().children("iframe").hide()
		})
	</script>
</html>
