<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="stylesheets/splb.css" />
	<body>
		<h1>
			<span class="one_span"><a href="">ECSHOP 管理中心</a></span>
			<span class="two_span"> - 商品列表 </span>
			<span class="three_span"><a href=""><img src="images/jnsy.png" alt="" /></a></span>
			<span ><a class="last_span" href="">+添加新商品</a></span>
		</h1>
	</body>
</html>
