<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="stylesheets/sptj.css" />
	</head>
	<body>
		<h1>
			<span class="one_span"><a href="">ECSHOP 管理中心</a></span>
			<span class="two_span"> - 添加新商品 </span>
			<span class="three_span"><a href=""><img src="images/jnsy.png" alt="" /></a></span>
			<span ><a class="last_span" href="">商品列表</a></span>
		</h1>
		<div id="nav">
			<p>
				<span>通用信息</span>
				<span>通用信息</span>
				<span>通用信息</span>
				<span>通用信息</span>
				<span>通用信息</span>
				<span>通用信息</span>
				<span>通用信息</span>
			</p>
		</div>
		<div>
			<table width="90%" align="center" style="display:table">
				<tbody>
					<tr >
						<td class="label">商品名称：</td>
						<td><input type="text"  style="float: left; margin: 5px 0" size="30"/>
						
						<div style="float: left;margin:10px 0 0 5px">
							
						</div>
						<select name="" id="">
							<option value="">字体样式</option>
							<option value="strong">加粗</option>
							<option value="em">斜体</option>
							<option value="u">下划线</option>
							<option value="strike">删除线</option>
						</select>
						</td>
					</tr>
						<tr>
						<td class="label"><a href=""><img src="images/wen.jpg" alt="" /></a>商品货号：</td>
						<td>
						<input type="text"  style="float: left; margin: 5px 0" size="18"/><br>如果您不输入商品货号，系统将自动生成一个唯一的货号.
						
						
						</td>	
					</tr>
					<tr >
						<td class="label">商品分类：</td>
						<td>
							<select name="">
								<option value=""></option>
								<option value="">钻石</option>
							</select>
							<a href="" class="tj">添加分类</a>
						</td>
					</tr>
					<tr >
						<td class="label">扩展分类：</td>
						<td><input type="button" value="添加" class="button" /></td>
					</tr>
					<tr >
						<td class="label">商品品牌：</td>
						<td>
							<select name="">
								<option value=""></option>
								<option value="">钻石</option>
							</select>
							<a href="" class="tj">添加品牌</a>
						</td>
					</tr>
					<tr >
						<td class="label">本店售价：</td>
						<td>
							<input type="text"  style="float: left; margin: 5px 0" size="20"/>
							<input type="button" value="按市场价计算"  style="float: left;margin: 5px 2px"/>
						</td>
					</tr>
					<tr >
						<td class="label"><a href=""><img src="images/wen.jpg" alt="" /></a>会员价格：</td>
						<td>注册用户<input type="text"value="-1"size="8" />代销用户<input type="text"value="-1"size="8" />vip<input type="text"value="-1"size="8" /><br>会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</td>	
					</tr>
					<tr>
						<td class="label"><a href=""><img src="images/wen.jpg" alt="" /></a>商品优惠价格：</td>
						<td><a href="">[+]</a>优惠数量<input type="text" size="5" />优惠价格<input type="text" size="5" /><br>购买数量达到优惠数量时享受的优惠价格</td>
					</tr>
					<tr>
						<td class="label">市场售价：</td>
						<td><input type="text" value="0" size="8"/><input type="button" value="取整数"/></td>
					</tr>
					<tr>
						<td class="label">虚拟销售：</td>
						<td><input type="text" value="0" size="8"/></td>
					</tr>
					<tr>
						<td class="label"><a href=""><img src="images/wen.jpg" alt="" /></a> 赠送消费积分数：</td>
						<td><input type="text" value="-1" size="8"/><br>购买该商品时赠送消费积分数,-1表示按商品价格赠送</td>
					</tr>
					<tr>
						<td class="label"><a href=""><img src="images/wen.jpg" alt="" /></a> 赠送等级积分数：</td>
						<td><input type="text" value="-1" size="8"/><br>购买该商品时赠送等级积分数,-1表示按商品价格赠送</td>
					</tr>
					<tr>
						<td class="label"><a href=""><img src="images/wen.jpg" alt="" /></a> 积分购买金额：</td>
						<td><input type="text" value="-1" size="8"/><br>(此处需填写金额)购买该商品时最多可以使用积分的金额</td>
					</tr>
					<tr>
						<td class="label"><input type="checkbox" name="" id="" value="1" />促销价:</td>
						<td><input type="text" value="0" size="8"/></td>
					</tr>
					<tr>
						<td class="label">促销日期：</td>
						<td><input type="text" value="2018-03-01"/><input type="button" name="" id="" value="选择" />"-"<input type="text" value="2018-04-01"/><input type="button" name="" id="" value="选择" /></td>
					</tr>
					<tr>
						<td class="label">上传商品图片：</td>
						<td><input type="file" size="35" /><img src="images/no.gif"/><br><input type="text" name="" id="" value="商品图片外部URL	" /></td>
					</tr>
					<tr>
						<td class="label">上传商品缩略图：</td>
						<td><input type="file" size="35" /><img src="images/no.gif"/><br><input type="text" name="" id="" value="商品图片外部URL	" /><br><label for=""><input type="checkbox" name="" id="" value="1" />"自动生成商品缩略图"</label></td>
					</tr>					
				</tbody>
			</table>
		</div>
		<div class="button-div">
			<input type="button" name="" id="" value="确定"  class="button"/>
			<input type="reset" name="" id="" value="重置"  class="button"/>
		</div>
	</body>
</html>
