*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:##41A5E1 !important; 
}
body{
	width: 100%;
	height: 100%;
    padding: 0;
    overflow: hidden;
    min-width: 773px;
}
#benner{
	width: 100%;
  	height: 700px;
    background: #555 url(../images/ecshop-bg.png) no-repeat;
    background-size: cover;
}
.b_logo{
	padding:100px 0 0 590px;
	width:248px;
	height:65px;
	text-align: center;
}
img{
	width:100%;
	height:100%;
}
.logo{
	width:155px;
	height:38px;
	position: absolute;
	left:60px;
	top:60px;
}
.jm{
	position: fixed;
	left:35%;
	top:30%;
	width:442px;
	height:351px;
	background: rgba(255,255,255,.85);
}
.ck{
	margin:55px 65px;
	height:220px;
	width:300px;
}
.btn{
	height: 50px;
	margin-top:25px;
	border: none;
	width:303px;
	background:#fc7878;
}
.last{
	    font-size:12px;
}
.last input{
	float:left;
	width:15px;
	height:15px;
	margin: 2px 8px 0 0
}
.last label{
	color: #666;
    float: left;

}
.last1{
	float: left;
    margin-left: 25px;
}
.last2{
	float: right;
}
.bottom{
	width:480px;
	position: absolute;
	top:335px;
	left:-17px;
}
input{
	width:300px;
	height:50px;
}
